<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">        
        <title>Parts</title>
    </head>
    <body>
        <header>
            <div class="menu-btn">
                <span class="menu-btn__burger"></span>
            </div>

            <nav class="nav">
                <ul class="menu-nav">
                    <li class="menu-nav__item">
                        <a href="{{ url_for('home') }}" class="menu-nav__link">                            Home
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a href="{{ url_for('generators', manufacturer_id=generator.manufacturer_id) }}" class="menu-nav__link">Generator</a>
                    </li>

                    <li class="menu-nav__item active">
                        <a href="{{ url_for('home') }}" class="menu-nav__link">                            Part
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="parts">
                <div class="parts__part-image">
                    <div class="part__name">
                        <h2 class="text-secondary">Parts for {{ generator.generator_name }}</h2>
                    </div>
                </div>

                
                <div class="parts__items">
                    {% for part in generator.parts %}
                        <div class="parts__item">
                            <img src="{{ part.image_url }}" alt="{{ part.name }}"/>
                            <div class="parts__text">
                                <h2 class="text-secondary">{{ part.name }}</h2>
                                <p>{{ part.price }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                

                <div class="social-icons">
                    <a href="#!">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                    <a href="#!">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a href="#!">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </div>

                <footer>&copy; Copyright 2023</footer>
            </section>
        </main>

        <script src="https://kit.fontawesome.com/8a48e9fbf3.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- <h1>Hello Manufacturers!</h1>
        <ul>
            {% for manufacturer in manufacturers %}
            <h2> {{ manufacturer.name }} </h2>
            <ul>
                {% for generator in manufacturer.generators %}
                <li>
                    {{ generator.generator_name }}
                    <ul>
                        {% for part in generator.parts %}
                        <li>
                            {{ part.name }}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul> -->
    </body>
</html>